body {
    margin: 0;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 1.3s ease, opacity 0.3s ease;
    animation: breathe 4s ease-in-out infinite;
}

.logo:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.center-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.gosthface {
    --gosthface-size: 50vw;
    width: var(--gosthface-size);
    height: auto;
    display: block;
    object-fit: cover;
    position: absolute;
    left: -2vw;
    bottom: 0px;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.gosthface:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.rose-image {
    --rose-size: 30vw;
    width: var(--rose-size);
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 12px;
    position: absolute;
    right: -25px;
    bottom: 20px;
    transform: rotate(-30deg);
    animation: floatRose 4s ease-in-out infinite;
}

@keyframes floatRose {
    0%, 100% {
        bottom: 20px;
    }
    50% {
        bottom: 38px;
    }
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
}